﻿@model List<Railway.Services.Dto.PlaceDto>

@{
    ViewBag.Title = "Места";
}

<div class="col-md-12">
    <table class="table table-striped table-hover">
        <tbody class="dinamicContainer">
            <tr>
                <th class="sortableHeader text-center" data-column-type="number">Номер места</th>
                <th class="sortableHeader" data-column-type="string">Состояние</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">@item.PlaceNumber</td>
                    <td class="placeState">@item.State.ToString()</td>
                    @if (item.State == Railway.Domain.Core.Models.Place.PlaceState.Free)
                    {
                        <th align="center"><a href="/Ticket/Buy/@item.Id"><input class="btn btn-success" value="Купить билет" readonly></a></th>
                    }
                    else
                    {
                        <th align="center"><input class="btn btn-danger" value="Купить билет" disabled></th>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@section styles{
    <link href="~/Content/CustomStyles/sortingTable.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/Custom/sortingTable.js"></script>
    <script src="~/Scripts/Custom/russianPlaceState.js"></script>
}

