﻿@model List<Railway.Services.Interfaces.Utils.TrainStopInformation>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Остановки</h4>
    </div>
    <div class="modal-body">
        @for (var i = 0; i < Model.Count; i++)
        {
            if (i == 0 || i == (Model.Count - 1))
            {
                <p>@(i + 1). @Model[i].Station (@Model[i].ArrivalDate.ToShortTimeString())</p>
                continue;
            }

            <p>@(i+1). @Model[i].Station (@Model[i].ArrivalDate.ToShortTimeString() - @Model[i].DepartureDate.ToShortTimeString())</p>
        }
    </div>
</div>
