﻿@model List<Railway.Services.Dto.WagonDto>

@{
    ViewBag.Title = "Вагоны";
}

<div class="col-md-12">
    <table class="table table-striped table-hover">
        <tbody class="dinamicContainer">
            <tr>
                <th class="sortableHeader text-center" data-column-type="number">Номер вагона</th>
                <th class="sortableHeader" data-column-type="string">Тип вагона</th>
                <th class="sortableHeader text-center" data-column-type="number">Свободных мест</th>
                <th class="sortableHeader text-center" data-column-type="number">Всего мест</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">@item.WagonNumber</td>
                    <td class="wagonType">@item.Type.ToString()</td>
                    <td align="center">@item.Places.ToList().Count(p => p.State == Railway.Domain.Core.Models.Place.PlaceState.Free)</td>
                    <td align="center">@item.AmountOfPlaces</td>
                    <th><a href="/Flight/PlacesForWagon/@item.Id">Места</a></th>
                </tr>
            }
        </tbody>
    </table>
</div>

@section styles{
    <link href="~/Content/CustomStyles/sortingTable.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/Custom/sortingTable.js"></script>
    <script src="~/Scripts/Custom/russianWagonType.js"></script>
}

