﻿
@{
    ViewBag.Title = "Ошибка";
}

<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-heading">Ошибка</div>
        <div class="panel-body">Произошла ошибка, мы уже выяснили причину и работаем над ее исправлением. Повторите запрос позже</div>
    </div>
</div>

