﻿
@{
    ViewBag.Title = "Ошибка";
}

<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-heading">Ошибка</div>
        <div class="panel-body">К сожалению, у вас нету доступа к этой странице</div>
    </div>
</div>

