﻿
@{
    ViewBag.Title = "Ошибка";
}

<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-heading">Ошибка</div>
        <div class="panel-body">Страница не найдена. Проверьте введенный адрес страницы</div>
    </div>
</div>

