﻿@model Railway.WebUI.ViewModels.BuyTicketViewModel

@{
    ViewBag.Title = "Заказ билета";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.PlaceId)

    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(m => m.FirstName)
     </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.LastName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div><br />

    <div class="editor-label">
        @Html.LabelFor(m => m.DeparturePointId)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.DeparturePointId, Model.Stops)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.ArrivalPointId)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.ArrivalPointId, Model.Stops)
    </div><br />

    <div class="editor-label">
        @Html.LabelFor(m => m.IsExistsBaggage)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.IsExistsBaggage)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.AmountOfTea)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.AmountOfTea)
        @Html.ValidationMessageFor(m => m.AmountOfTea)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.AmountOfLinens)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.AmountOfLinens)
        @Html.ValidationMessageFor(m => m.AmountOfLinens)
    </div><br />

    <div class="editor-label">
        @Html.LabelFor(m => m.TicketType)
    </div>
    <div class="editor-field">
        @Html.EnumDropDownListFor(m => m.TicketType)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Age)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Age)
        @Html.ValidationMessageFor(m => m.Age)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.StudentNumber)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.StudentNumber)
        @Html.ValidationMessageFor(m => m.StudentNumber)
    </div><br />

    <input type="submit" value="Заказать" />
}

