﻿@model List<Railway.WebUI.ViewModels.PurchaseViewModel>

@{
    ViewBag.Title = "Корзина";
}

@if (Model.Count == 0)
{
    <h2>Корзина пуста</h2>
}
else
{
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <tbody class="dinamicContainer">
                <tr>
                    <th class="sortableHeader" data-column-type="string">Email</th>
                    <th class="sortableHeader" data-column-type="string">Точка отправления</th>
                    <th class="sortableHeader" data-column-type="string">Точка прибытия</th>
                    <th class="sortableHeader" data-column-type="date">Дата отпраления</th>
                    <th class="sortableHeader" data-column-type="number">Цена</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Email</td>
                        <td>@item.DeparturePoint</td>
                        <td>@item.ArrivalPoint</td>
                        <td>@item.DeparturDate</td>
                        <td>@item.Price.ToString("#.##")</td>
                        <td>@Html.ActionLink("Удалить", "DeletePurchase", new { Controller = "Basket", id = item.PlaceId })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>Total price: @Model.Sum(m => m.Price).ToString("#.##")</div>

    @Html.ActionLink("Оплатить", "Pay", new { Controller = "Basket" })
}

@section styles{
    <link href="~/Content/CustomStyles/sortingTable.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/Custom/sortingTable.js"></script>
}


