﻿@model Railway.WebUI.ViewModels.PayViewModel

@{
    ViewBag.Title = "Оплата";
}

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.CardNumber)<br />
    @Html.EditorFor(m => m.CardNumber)<br />
    @Html.ValidationMessageFor(m => m.CardNumber)<br />

    @Html.LabelFor(m => m.Validity)<br />
    @Html.EditorFor(m => m.Validity)<br />
    @Html.ValidationMessageFor(m => m.Validity)<br />

    @Html.LabelFor(m => m.Cvv2)<br />
    @Html.EditorFor(m => m.Cvv2)<br />
    @Html.ValidationMessageFor(m => m.Cvv2)<br />

    <input type="submit" value="Оплатить" />
}

