﻿@model List<Railway.Services.Dto.RouteDto>

@{
    ViewBag.Title = "Маршруты";
}

<div id="modDialog" class="modal fade">
    <div id="modalDialogContent" class="modal-dialog"></div>
</div> 

<div class="col-md-12">
    <table class="table table-striped table-hover">
        <tbody class="dinamicContainer">
            <tr>
                <th class="sortableHeader text-center" data-column-type="number">Номер рейса</th>
                <th class="sortableHeader" data-column-type="string">Точка отправления</th>
                <th class="sortableHeader" data-column-type="string">Точка прибытия</th>
                <th class="text-center">Остановки</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">@item.Id</td>
                    <td>@item.DeparturePoint</td>
                    <td>@item.ArrivalPoint</td>
                    <td align="center">
                        <a href="/Route/StopsForRoute/@item.Id" class="compItem"><span class='glyphicon glyphicon-eye-open'></span></a>
                    </td>
                    <td><a href="/Flight/FlightsForRoute/@item.Id">Рейсы</a></td>                 
                </tr>
            }
        </tbody>
    </table>
</div>

@section styles{
    <link href="~/Content/CustomStyles/sortingTable.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/Custom/sortingTable.js"></script> 
    <script src="~/Scripts/Custom/modalDialog.js"></script>
}