﻿@model Dictionary<string, TimeSpan>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Остановки</h4>
    </div>
    <div class="modal-body">
        @{ var i = 1; }
        @foreach (var item in Model)
        {
            <p>@i. @item.Key - @item.Value.Minutes min.</p>
            i++;
        }
    </div>
</div>
